
@font-face {
  font-family: "Circe";
  src: url('./circe-light.woff') format("woff");
  font-weight: $font-weight-light;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Circe";
  src: url('./circe.woff') format("woff");
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Circe";
  src: url('./circe-bold.woff') format("woff");
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap
}

$ca-font-family-sans-serif: Circe;
$font-family-sans-serif: join($ca-font-family-sans-serif, $font-family-sans-serif);